@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Gochi+Hand&family=Neucha&family=Schoolbell&family=Shadows+Into+Light+Two&display=swap');

.Login-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Gochi Hand';
}

.Login-form img {
  position: absolute;
}

.Login-form h2 {
  position: relative;
  margin-top: 50%;
  margin-left: 10%;
  color: white;
  font-size: 2.4em;
}

label {
  position: relative;
  color: white;
  font-size: 1.8em;
}

.Login-form div {
  display: flex;
  margin-left: 10%;
}

.username-input,
.password-input {
  position: relative;
  width: 23em;
  border: none;
  border-bottom: solid 2px white;
  outline: none;
  background: transparent;
  color: white;
  font-family: 'Gochi Hand';
  margin-bottom: 2em;
  margin-left: 10%;
}

.Login-form button {
  position: relative;
  margin: 1em auto auto auto;
  background: none;
  border: solid 2px white;
  border-radius: .75em;
  padding: 0.3em;
  font-family: 'Gochi Hand';
  font-size: 2em;
  color: white;
}

.Login-form button:hover {
  background: rgb(131, 19, 19);
  color: rgb(128, 177, 43);
}

