@import 'variables';

.MovieDetails-Billboard {
  img {
    width: 100%;
    opacity: 0.5;
    position: fixed;
    // z-index: 0;
    margin-top: -180px;
  }

  h2 {
    font-family: $login-font;
    font-size: 5em;
    text-align: center;
    position: relative;
    color: white;
  }
}