@import 'variables';

.Card {
	text-align: center;
}

.Card-poster {
	height: 35vh;
	box-shadow: -6px 7px 11px 0px rgba(0, 0, 0, 0.562);
	transition: all .5s ease-in-out;
	
	&:hover {
		box-shadow: -6px 7px 12px 0px $rancid-green;
		cursor: pointer;
		transform: scale(1.05);
	}
}

.Card div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.favorite {
	margin-right: 10px;
	width: 30px;
	height: 30px;
	align-items: center;

	&:hover {
		filter: invert(1);
	}
}

.favorited {
	margin-right: 10px;
	width: 30px;
	height: 30px;
	align-items: center;
	filter: invert(1);
}