@import 'variables';

.MovieDetails-Details {
  color: white;
  position: relative;
  z-index: 1;
  width: 50%;
  margin-left: 30px;
}

p {
  line-height: 1.25em;
  font-size: 1.1em;
  overflow-wrap: break-word;
}