@import 'variables';


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
	background: linear-gradient(135deg, $tomatillo-red 60%, #333); 
	font-family: $title-font;
	font-size: 1.75em;
	color: $rancid-green;
}

.logo {
	object-fit: cover;
	border-radius: 50%;
	height: 10vh;
	margin: 1em;
}

.title {
	display: flex;
}

.button {
	cursor: pointer;
	margin-right: 40px;
}

.button img {
	height: 120px;
	// margin-right: 60px;
	position: absolute;

}

.button p {
	position: relative;
	font-family: $login-font;
	color: white;
	margin-top: 70px;
	margin-left: 12px;
}

.logged-in {
	display: flex;
	// margin-right: 40px;
}

.username {
	margin-right: 15px;
	font-family: $login-font;
}