@import 'variables';


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
	background: linear-gradient(135deg, $tomatillo-red 60%, #333); 
	font-family: $title-font;
	font-size: 1.75em;
	color: $rancid-green;
}

.logo {
	height: 85px;
	margin: 1em;
}

.title {
	display: flex;
}

.title img,
.title h1 {
	filter: drop-shadow(-8px 5px 8px #4444dd);
}

.logged-out {
	display: flex;
	cursor: pointer;
	margin: 20px 50px 15px 0;
}

.login-button img {
	height: 120px;
	position: absolute;
	filter: drop-shadow(-8px 5px 8px #585864);
}

.login-button p {
	position: relative;
	font-family: $login-font;
	color: white;
	margin-top: 70px;
	margin-left: 20px;
}

.logged-in {
	display: flex;
	margin: 20px 39px 15px 0;
}

.logout-button {
	margin-left: 20px;
}

.logout-button img {
	height: 120px;
	position: absolute;
	filter: drop-shadow(8px 5px 8px #585864);
}

.logout-button p {
	position: relative;
	font-family: $login-font;
	color: white;
	margin-top: 70px;
	margin-left: 10px;
}

.username {
	margin: 50px 0 0 0;
	margin-right: 15px;
	font-family: $login-font;
}