@import 'variables';

.MovieDetails-Ratings {
  display: flex;
  color: white;
  width: 50%;
  position: relative;
  z-index: 1;
  
  img {
    height: 400px;
    border-radius: 10px;
    box-shadow: -6px 7px 11px 0px $rancid-green;
  }

  article {
    margin-left: 30px;
    margin-right: 30px;
  }

  article h2 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .release-date {
    font-size: 1.5em;
  } 

  .rating {
    font-size: 1.2em;
  }

  input {
    -webkit-appearance: slider-vertical;
    height: 60%;
    margin: 15px 0 15px 0;
  }
  
  input::-webkit-slider-runnable-track {
    cursor: pointer;
    border-radius: 1em;
    border: 0.2px solid $rancid-green;
    background: $rancid-green;
  }
  
  input::-moz-range-track {
    width: 100%;
    cursor: pointer;
    border-radius: 1em;
    border: 0.2px solid $rancid-green;
    background: $rancid-green;
  }

  .MovieDetails-NewRating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: white;
  }
}